<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />

    <script type="text/javascript" src="../js/lastfm.api.md5.js"></script>
    <script type="text/javascript" src="../js/lastfm.api.js"></script>
    <script type="text/javascript" src="../js/lastfm.api.cache.js"></script>
    <script type="text/javascript" src="../js/apikey.js"></script>
    <script type="text/javascript" src="../js/howdeep.js"></script>

    <title>
      How deep can you go?
    </title>
  </head>

  <body>

    <h1>HOW DEEP R U</h1>

    <h2 id="artist">
    </h2>

    <h4 id="similar">
    </h4>

  </body>

</html>