<div class="unit span-grid" id="star-artist">

  <div class="main-artist-name">
    {{name}}
  </div>

  <div class="main-artist-stats">
    {{listeners}}
  </div>

  <div class="artist-img" style="background: url({{image}}) no-repeat;"></div>

</div>
