<!--div class="unit two-of-five">
  <div class="similar-artists-label">
    Similar artists:
  </div>
</div>

<div class="unit span-grid">
  <div class="well similar-artists">
    <ul class="artist-list">
      {{#each similars}}
        <li>
          <div class="similar-img" style="background: url({{image}}) no-repeat;"></div>
          <a href="#" class="artist">{{name}}</a>
        </li>
      {{/each}}
    </ul>
  </div>
</div>

-->
<div class="similar-img" style="background: url({{image}}) no-repeat;"></div>
<span class="artist">{{name}}</a>